* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

/* ===== KHUNG CHUNG ===== */
.khung-chung {
    max-width: 1200px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px; 
}

/* ===== LOGO ===== */
.logo {
    height: 36px;
}

/* ===== THANH TRÊN ===== */
.thanh-tren {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.khung-ben-tren {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.thong-tin-phai {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 14px;
}

/* icon mạng xã hội */
.thong-tin-phai .icon {
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* cờ quốc gia */
.co-quoc-gia {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /* BO TRÒN */
    overflow: hidden;
    /* QUAN TRỌNG */

    display: flex;
    align-items: center;
    justify-content: center;
}

.co-quoc-gia svg {
    width: 100%;
    height: 100%;
}

.thong-tin-trai {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    white-space: nowrap;
}

.dia-diem-wrap {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.dia-diem {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.ds-dia-diem {
    font-size: 14px;
    /* nhỏ hơn chữ */
    line-height: 1;
    position: relative;
    bottom: 5px;
    color: #1a1919;

}

/* Thời tiết */
.thoi-tiet {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    line-height: 1;
}

.thoi-tiet img {
    width: 22px;
    height: 22px;
    display: block;
}

/* ===== THANH MENU ===== */
.thanh-menu {
    background: #174a84;
}

.khung-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

/* MENU */
.danh-sach-menu {
    list-style: none;
    display: flex;
}

.danh-sach-menu li a img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.danh-sach-menu li a.home {
    padding-left: 0;
}

.danh-sach-menu li a {
    align-items: center;
    display: block;
    padding: 0 22px;
    line-height: 56px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.danh-sach-menu li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.danh-sach-menu li a strong.noi-bat {
    color: #ffb400;
}

/* tìm kiếm */
.tim-kiem {
    width: 420px;
    height: 44px;

    background: none;
    border: 1px solid #fff;
    border-radius: 999px;

    display: flex;
    align-items: center;
    padding-left: 16px;
}

.tim-kiem input {
    flex: 1;
    background: none;
    border: none;
    outline: none;

    color: #fff;
    font-size: 14px;
}

.tim-kiem input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.btn-tim-kiem {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: #f7941d;
    color: #fff;
    cursor: pointer;
    margin-right: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-tim-kiem:hover {
    opacity: 0.9;
}