.noi-dung-hoc-lieu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
}
.thanh-menu-hoc-lieu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.danh-sach-menu-hoc-lieu {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}
li a {
    text-decoration: none;
    color: #5C5C77;
    font-size: 18px;
}
h3.Hoc-lieu{
color: #272742;
font-size: 45px;
}
.khung-amd {
    padding: 20px 0;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.cot {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.khung {
    background: #f2f2f2;
    border-radius: 16px;
    overflow: hidden;
}

.khung img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.khung-tren {
    height: 300px;
}

.khung-duoi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.khung-duoi .khung {
    height: 300px;
}

.cot-giua .khung {
    height: 300px;
}

.khung-phai {
    height: 616px;
}

.chuyen-trang{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.trang{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ff7a00;
    color: #ff7a00;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s ease;
}
.trang:hover{
    background: #ff7a00;
    color: #ff7a00;
}

.trang.active {
    background: #ff7a00;
    color: #fff;
    font-weight: bold;
}

.trang.prev,
.trang.next {
    font-size: 18px;
}
.khung-banner img {
    width: 100%;
    height: auto;
    display: block;
}