 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

/* ===== KHUNG CHUNG ===== */
.khung-chung {
    max-width: 1200px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px; 
}

/* ===== LOGO ===== */
.logo {
    height: 36px;
}

/* ===== THANH TRÊN ===== */
.thanh-tren {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.khung-ben-tren {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.thong-tin-phai {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 14px;
}

/* icon mạng xã hội */
.thong-tin-phai .icon {
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* cờ quốc gia */
.co-quoc-gia {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /* BO TRÒN */
    overflow: hidden;
    /* QUAN TRỌNG */

    display: flex;
    align-items: center;
    justify-content: center;
}

.co-quoc-gia svg {
    width: 100%;
    height: 100%;
}

.thong-tin-trai {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    white-space: nowrap;
}

.dia-diem-wrap {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.dia-diem {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.ds-dia-diem {
    font-size: 14px;
    /* nhỏ hơn chữ */
    line-height: 1;
    position: relative;
    bottom: 5px;
    color: #1a1919;

}

/* Thời tiết */
.thoi-tiet {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    line-height: 1;
}

.thoi-tiet img {
    width: 22px;
    height: 22px;
    display: block;
}

/* ===== THANH MENU ===== */
.thanh-menu {
    background: #174a84;
}

.khung-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

/* MENU */
.danh-sach-menu {
    list-style: none;
    display: flex;
}

.danh-sach-menu li a img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.danh-sach-menu li a.home {
    padding-left: 0;
}

.danh-sach-menu li a {
    align-items: center;
    display: block;
    padding: 0 22px;
    line-height: 56px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.danh-sach-menu li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.danh-sach-menu li a strong.noi-bat {
    color: #ffb400;
}

/* tìm kiếm */
.tim-kiem {
    width: 420px;
    height: 44px;

    background: none;
    border: 1px solid #fff;
    border-radius: 999px;

    display: flex;
    align-items: center;
    padding-left: 16px;
}

.tim-kiem input {
    flex: 1;
    background: none;
    border: none;
    outline: none;

    color: #fff;
    font-size: 14px;
}

.tim-kiem input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.btn-tim-kiem {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: #f7941d;
    color: #fff;
    cursor: pointer;
    margin-right: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-tim-kiem:hover {
    opacity: 0.9;
}


/*tin tức*/
.tin-tuc {
    padding: 40px 0;
}

/* Tiêu đề */
.tieu-de-tin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.tieu-de-tin h3 {
    font-size: 22px;
    font-weight: 700;
    color: #222;

    padding-left: 12px;
    position: relative;
}

.tieu-de-tin h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;

    width: 4px;
    height: 20px;
    background: #ff8c1a;
    border-radius: 2px;
}
.nut-xem-them {
    padding: 6px 14px;
    font-size: 13px;

    background: #fff;
    color: #ff8c1a;

    border: 1px solid #ff8c1a;
    border-radius: 20px;

    cursor: pointer;
    transition: all 0.25s ease;
    white-space: nowrap;
}

.nut-xem-them:hover {
    background: #ff8c1a;
    color: #fff;
}

/* Slider */
.khung-slider {
    position: relative;
     display: flex;
    align-items: center;
    gap: 12px;
}

.khung-nhin {
    width: 100%;
    overflow: hidden;
}

.danh-sach-tin {
    display: flex;
    gap: 24px;
    transition: transform 0.5s ease;
}

/* Thẻ tin */
.the-tin {
    flex: 0 0 calc((100% - 72px) / 4);
    background: #f0f7ff;
    border-radius: 20px;
    overflow: hidden;
    
}

/* Ảnh */
.anh-tin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Nút */
.nut-slider {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);

    width: 48px;
    height: 48px;
    border-radius: 50%;

    background: #ff8c1a;
    color: #fff;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    z-index: 10;
    transition: all 0.25s ease;
}

.nut-truoc { left: -22px; }
.nut-sau   { right: -22px; }


/*Sức khỏe*/
.suc-khoe {
    padding: 20px 0;
    border: #1f3f75;
    background-color: #174a84;
    border-radius: 20px;
    max-width: 1250px;
    margin: auto;
}
.bn-suc-khoe{
    margin: 10px 0 20px 0;
}
/*hỏi đáp cg*/
.hoi-dap-chuyen-gia{
    padding: 40px 0;
}
.khung-bn-sk{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: #f2f2f2;
}

/* dự án */
.du-an{
    background: #cfd8ff;
    padding: 20px 0 1px 0;
}
.tieu-de-tin-h {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 10px;
    width: 100%;
}

/* --- Tiêu đề --- */
.tieu-de-tin-h h3 {
    font-size: 22px;
    font-weight: 700;
    color: #222;

    padding-left: 12px;
    position: relative;
    white-space: nowrap;
}

.tieu-de-tin-h h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;

    width: 4px;
    height: 20px;
    background: #ff8c1a;
    border-radius: 2px;
}

.tieu-de-tin-h ul {
    display: flex;
    align-items: center;
    gap: 28px;

    list-style: none;
    padding: 0;
    margin: 0;

    flex: 1;             
}

.tieu-de-tin-h ul li a {
    font-size: 13px;
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    text-decoration: none;

    padding: 6px 0;
    position: relative;
}

.tieu-de-tin-h ul li a:hover {
    color: #ff8c1a;
}

.tieu-de-tin-h ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0;
    height: 2px;
    background: #ff8c1a;
    transition: 0.25s;
}

.tieu-de-tin-h ul li a:hover::after {
    width: 100%;
}
/*học liệu*/
.hoc-lieu{
    padding: 50px 0 15px 0;
}
/*đơn vị đồng hành*/
.don-vi-dh{
    padding: 40px 0 60px;
}
.dv-logo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    align-items: center;
}
.logo-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-item img {
    max-width: 100%;
    max-height: 60px;
    object-fit: contain;
    filter: grayscale(0);
}
/*ảnh md*/
.khung-amd {
    padding: 20px 0;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.cot {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.khung {
    background: #f2f2f2;
    border-radius: 16px;
    overflow: hidden;
}

.khung img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.khung-tren {
    height: 300px;
}

.khung-duoi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.khung-duoi .khung {
    height: 300px;
}

.cot-giua .khung {
    height: 300px;
}

.khung-phai {
    height: 616px;
}

/*ảnh md*/

/*trên footer*/

.khu-vuc-lien-he {
    min-height: 60vh;
    background-color: #dfe8f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.khung-noi-dung {
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

/* BÊN TRÁI */
.noi-dung-trai {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.noi-dung-trai img {
    max-width: 300px;
    /* tăng size ảnh */
    width: 100%;
    height: auto;
}

/* BÊN PHẢI */
.hop-lien-he {
    width: 420px;
    background-color: #ffecec;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.tieu-de-form {
    font-size: 22px;
    margin-bottom: 20px;
}

/* FORM */
#form-lien-he {
    display: flex;
    flex-direction: column;
}

.o-nhap {
    padding: 12px 14px;
    margin-bottom: 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

.o-noi-dung {
    min-height: 100px;
    resize: none;
}

/* RADIO */
.nhom-lua-chon {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0 20px;
}

.lua-chon {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* BUTTON */
#nut-gui-lien-he {
    padding: 14px;
    border-radius: 999px;
    border: none;
    background: linear-gradient(90deg, #ff7a18, #ff9f43);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#nut-gui-lien-he:hover {
    opacity: 0.9;
}




/* footer */

.chan-trang {
    background: #1f3f75;
    color: #fff;
    padding: 50px 0;
    font-size: 14px;
}

.khung-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.nhom-cot-phai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* CỘT CHUNG */
.cot-footer h4 {
    font-size: 16px;
    margin-bottom: 12px;
}

.cot-footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.cot-footer ul li {
    margin-bottom: 8px;
}

.cot-footer ul li a {
    font-size: 10px;
    color: #cfd8ff;
    text-decoration: none;
}

.cot-footer ul li a:hover {
    color: #ffb703;
}

.cot-phu h4 {
    line-height: 1.9;
}

/* CỘT THÔNG TIN */
.cot-thong-tin p {
    font-size: 12px;
    margin-bottom: 8px;
    line-height: 1.5;
    color: #cfd8ff;
    text-decoration: none;
}

.logo-footer img {
    max-width: 180px;
    margin-bottom: 16px;
}

/* MẠNG XÃ HỘI */
.mang-xa-hoi {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.mang-xa-hoi a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.mang-xa-hoi a:hover {
    background: #ff9800;
}

.cot-footer h4 strong.noi-bat {
    color: #ffb400;
}